openapi: 3.2.0
info:
  title: Colossyan Generated Videos API
  description: REST API for the Colossyan AI avatar and video generation platform.
  termsOfService: https://www.colossyan.com/terms-and-conditions
  contact:
    name: Colossyan Support
    url: https://www.colossyan.com/contact
  version: '1.0'
servers:
- url: https://app.colossyan.com/api/v1
  description: Stable v1 API
- url: https://app.colossyan.com/api
  description: Experimental (non-versioned) endpoints
security:
- bearerAuth: []
tags:
- name: Generated Videos
  description: Retrieve and delete completed videos.
paths:
  /generated-videos/{videoId}:
    get:
      operationId: getGeneratedVideo
      tags:
      - Generated Videos
      summary: Get a generated video
      description: Retrieves details and download URLs for a generated video.
      parameters:
      - $ref: '#/components/parameters/VideoId'
      responses:
        '200':
          description: Video retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedVideo'
    delete:
      operationId: deleteGeneratedVideo
      tags:
      - Generated Videos
      summary: Delete a generated video
      description: Deletes a generated video.
      parameters:
      - $ref: '#/components/parameters/VideoId'
      responses:
        '200':
          description: Video deleted.
components:
  parameters:
    VideoId:
      name: videoId
      in: path
      required: true
      description: The identifier of the generated video.
      schema:
        type: string
  schemas:
    GeneratedVideo:
      type: object
      description: A completed video.
      properties:
        id:
          type: string
        jobId:
          type: string
        name:
          type: string
        publicUrl:
          type: string
          format: uri
          description: Downloadable video URL.
        thumbnailUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time
        videoSizeBytes:
          type: integer
        videoDurationSeconds:
          type: number
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication. Provide the workspace API token in the Authorization header as `Bearer {token}`. The token is available in the workspace Settings and requires a Business or Enterprise plan.
